.button {
    display: inline-flex;
    min-width: 140px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0px 10px;

    .text-box {
        color: var(--color-footer);
        font-size: 18px;
        font-weight: 600;
    }
}
