.button {
    display: inline-block;
    width: fit-content;
    padding: 0 20px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    align-items: center;
    cursor: pointer;

    .text-box {
        display: block;
        color: var(--color-footer);
        font-size: 18px;
    }
}
