.dropdown-container {
    position: relative;    

    .dropdown-list {
        position: absolute;
        margin: 0;
        z-index: 1;
        background-color: var(--color-footer);
        list-style: none;
        right: 0;
        top: 100%;
        padding: 0;
        border-radius: 10px;
        
        .dropdown-item {
            padding: 20px;
            border-bottom: 1px solid var(--color-secondary);    
        }
    }
}
