.header-container {
    top: 0;
    display: grid;
    grid-template-rows: auto auto;

    .upper-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--color-primary);
        height: 100px;
        width: 100%;
        align-items: center;

        .logo-container {
            justify-self: start;

            .logo {
                max-height: 100px;
                max-width: 100px;
            }
        }

        .dropdown-container {
            position: relative;
            justify-self: end;
            margin-right: 10px;

            .dropdown-list {
                position: absolute;            
                width: 100%;
                z-index: 1000;
            }
        }
    }

    .lower-header {
        background-color: var(--color-secondary);
        height: 100px;
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
            
        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding-left: 20px;

            .lower-header-button {
                background-color: var(--color-footer);
                padding: 0px;

                .text-box {
                    color: var(--color-primary);
                }
            }
        }
    }
}
